@import "../../global.scss";
.portfolioList {
  color: white;
  overflow: hidden;
  font-size: 22px;
  margin-right: 50px;
  padding: 12px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  @include mobile {
    margin-right: 18px;
    font-size: 20px;
  }
  &.active {
    background-color: $thirdColor;
    color: $secondColor;
  }
}
