@import "../../global.scss";
.contact {
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  background-color: $mainColor;
  display: flex;
  color: black;
  .left {
    flex: 1;
    display: flex;
    height: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    @include mobile {
      height: 50%;
    }
    .contact-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      h1 {
        margin-left: 50px;
      }
      .section-line {
        height: 5px;
        width: 100%;
        background-color: $thirdColor;
      }
    }
    .types-container {
      display: flex;
      flex-direction: column;
      height: 55%;
      width: 100%;
      justify-content: space-between;
      padding-left: 80px;
      .email {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
          height: 60px;
          width: 60px;
        }
      }
      .phone {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
          height: 60px;
          width: 60px;
        }
      }
      .github {
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
          height: 60px;
          width: 60px;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    flex: 1;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
    }

    h2 {
      font-size: 30px;
    }
    form {
      font-size: 20px;
      width: 70%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        background-color: rgb(255, 255, 255);
        width: 300px;
        height: 30px;
        font: size 14px;
        margin-top: 15px;
        font-size: 20px;
      }
      textarea {
        margin-top: 15px;
        background-color: rgb(255, 253, 253);
        width: 300px;
        height: 200px;
        font-size: 18px;
      }

      button {
        width: 150px;
        height: 30px;
        background-color: $thirdColor;

        border: none;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        font-size: 18px;

        &:focus {
          outline: none;
        }
      }
      span {
        color: green;
      }
    }
  }
}
